# if regnerated by roxygen, export("%in%") and export("match") must be readded

S3method("[",lfactor)
S3method("[<-",lfactor)
S3method(Ops,lfactor)
S3method(as.double,lfactor)
S3method(as.factor,lfactor)
S3method(as.integer,lfactor)
S3method(as.numeric,lfactor)
S3method(droplevels,lfactor)
S3method(print,lfactor)
S3method(relevel,lfactor)
export("as.factor")
export("%in%")
export("match")
export(inlf)
export(lfactor)
export(llevels)
export(mlfactor)
import(methods)
import(stats)
import(utils)
